.form-container {
  position: relative;
  margin-top: 20px;
}

.subscribe {
  position: absolute;
  right: 0%;
}

.newsletter-form {
  width: 350px;
  padding: 7px;
}

@media only screen and (max-width: 600px) {
  .newsletter-form {
    width: 100%;
  }
}
